* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: Crimson;
    width: 100%;
    height: auto;
    flex-direction: column; 
    float: left;
    padding: 20px; 
    margin: 0;
    box-sizing: border-box; 
}

.title {
    color: white;
    font-size: 60px;
    margin-right: 200px;
    margin-top: 15px;
    text-align: center;
}

.bandeira {
    margin-right: 20px; 
  margin-bottom: 10px; 
  width: 80px;
  height: 80px;
  border-radius: 50%;
  float: left;
  margin-left: 20px;
}

main {
    width: 100%;
  background-color:	PapayaWhip;
  display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: flex-start; /* Alinha os itens no topo verticalmente */
        height: 100vh; /* Isso garante que o conteúdo ocupe a altura total da viewport */
}
    main.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; /* Para centralizar o conteúdo dentro dos divs */
        height: 100vh;
}
.one {
    display: flex;
}

.pontos {
    margin-left: 100px;
    margin-top: 40px;
}

.royal {
    border-radius: 50%;
    border: solid black 2px;
    width: 250px;
    height: 250px;
    
}

.sea {
    color: black;
    margin-left: 20px;
}

.comida {
    margin-left: 150px;
    margin-top: 40px; 
}

.alimento {
    border-radius: 50%;
    border: solid black 2px;
    width: 250px;
    height: 250px;
}

.girl {
    color: black;
    margin-left: 35px;
}

.kaguya {
    margin-left: 160px;
    margin-top: 40px;
}

.sama {
    border-radius: 50%;
    border: solid black 2px;
    width: 250px;
    height: 250px; 
}

.dream {
    color: black;
    margin-left: 90px;
}

.four {
    margin-top: 50px;
}

.lip {
    border-radius: 50%;
    border: solid black 2px;
    width: 250px;
    height: 250px;   
}

.balm {
    color: black;
    margin-left: 22px; 
}





